.comment-cards-container {

   display: flex;
   height: fit-content;
   padding:10px 10px 10px 10px;
    font-size: 1em;
    /* position: relative; */
    color:white;
    /* margin-top:20px; */
    border: 1px white dashed;
  

}


.relative-position-single-comment {
    height: fit-ccontent;
    overflow: scroll;
    display: flex;
    justify-content: space-evenly;
    align-items: center;



}


/* .comment-cards ul {
    height: fit-content;
    width: fit-content;
    padding-top: 10px;


    display: block;
    left: 50px;
    width: auto;
    position: abslolute;

    margin-left: 8em;

} */

/* .comment-cards span {
    position: abslolute;
    display: block;
    right: 0;
    float: bottom;

} */

.comment-cards p {
    width: 95%;
    /* margin-right: 20px; */
}

.user-interaction {
    margin-top: 5px;
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border: 1px ridge grey;

}

.hidden {
    display: none
}

#userName{ margin-left:20px;} 

#body-of-comment {

    margin-left: 40px;
    font-size:2em;
}

#dateTime{display: flex;
    font-size:1.5em;
 
    margin-left: 90px;}

#delete{ margin-left: 30px; padding: 1px 1px 1px 1px}
#delete button{background-color:aqua, padding 1px 1px 1px 1px; border: 3px outset black}
#delete button:hover{background-color:darkred;}
#delete button:focus {
    background-color: darkred;
    border: 3px inset black
}

lds-dual-ring {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}