.single-review-container{
    font-size:1.5em;
position:relative;
height:100%;
display:grid;
grid-template-rows: 20% 15% 15% 50%;

flex-direction: row;

}

.single-review-container>*{height:100%;overflow:none;}

.grid-item{
    height:fit-content;
    overflow:none;
    width:auto;
    display:grid;
    color:white;
    font-size:1.5em;
 
    flex-direction: row;

}


.single-review-avatar{
  display:inline-flex;
  /* margin-bottom:2em; */
  height:fit-content;
  /* position:sticky; */
  top:0;
  border:2px inset white;
  color:white;

  flex-direction:column;
  justify-content: center;
  align-items: center;
  grid-row-start:1;
  grid-row-end:2;

flex-direction: row;


}

.score-plane{
     display:flex;
      font-size:1em;

    height:fit-content;
    justify-content:center;
    align-items: center;
    /* display:block; */
    flex-direction:column;
    grid-row-start: 2;
    grid-row-end: 3;

}

.score-plane button{
    height:fit-content;
}
.review-plane{
    display: flex;

    /* margin-top:25px; */
    flex-direction: column;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 1em 1em 1em 1em;
    height: fit-content;
    background:darkred;
    border: 3px outset grey;
    
}

.single-review-text.fixed{background-color:red;}

.discussion-plane{
    display:block;
    margin-top:5em;
    height:100%;
    overflow:scroll;
    display:block;

    /* position:sticky;
    bottom:0; */
    /* margin-top:6.5em; */
    /* height:fit-content; */
    height:100%;
    flex-direction: column;
    grid-row-start: 4;
    grid-row-end: 5;
    /* background-color:blue; */
   
}

h2{font-size:4em; position:absolute;top:0;margin-left:10px;}

h3{font-size:2.5em;margin-top:100px;
}

#voteText{height:fit-content;font-size:5em; border: 1px dashed white;margin-bottom:10px;}

.review-inner-label-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.review-inner-label-container span{
    font-size:1.4em;
    color:black;
    background-color:gold;
    margin-right:10px;
    margin-bottom:10px;
    border: 2px outset darkred;
    box-shadow: 2px 2px red;
    margin-bottom:20px;
}

#dateTime{

    display:flex;
    justify-content:center;
}
