.SubNav {
    font-size: 2em;
    position: relative;
  
    background: rgba(0, 0, 0, 0.9);
    width: fit-content;
    height: fit-content;

}

.position-content-with-subnav {

    padding-top: 6.5em;
}

.Sub-nav-inner{
    color:white;
   z-index:-1;
   margin-bottom:2px;
    display:inline-flex;
    justify-content:space-between;
    right:0;
   
}

.Category-menu-items{
  
    color: white;
    background-color:grey;
    margin-right:20px;
    margin-left: 2px;
    border: 4px outset grey;
    padding-left:5px;
}
.Category-menu-items:hover{
    border: 4px inset grey;
    background-color: darkgrey;
}
   
.align-subnav-horizontal >*{
    position:relative;
   display:inline-flex;
   justify-content:center;
}