

.App{
  height:100vh;
 
}

.wrapper {
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:10% 5% 80% 5%;
  min-height: 0;
  min-width: 0;

}

header {
  height: 100%;
  font-size: 3em;
  display: flex;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  align-items: center;
  background-color: darkred;
  border: black solid 2px;
}

.Nav-bar{
grid-row-start: 2;
grid-row-end: 3;
  background: rgba(0, 0, 0, 0.9);

border-radius: 20px;
margin-left:auto;
margin-right:auto;
}

.app-main-body{
 
   height:auto;
  overflow: scroll;
  grid-row-start: 3;
  grid-row-end: 4;
  color:black;
  background: rgba(0, 0, 0, 0.9);
  border-top:2px solid brown

}

footer{
      height:100%;
      grid-row-start: 4;
      grid-row-end: 5;
      background-color:darkred;
    
}
